.red__button {
  width: 100px;
  height: 30px;
  background-color: red;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 10px;
}

.normal__button {
  width: 100px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 10px;
}
